
{% extends "index.html" %}

{% block content %}

<style>

label {
  padding: 4px 4px 4px 0;
  display: block;
}

input[type=text], select {
  width: 80%;
  padding: 8px 8px;
  margin: 0 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=submit] {
  width: 80%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 12px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

</style>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                {{ form.hidden_tag() }}
                {{ form.ukey }}
                {{ form.student_recordbook.label }}
                {{ form.student_recordbook }}
                {{ form.requirement_name.label }}
                {{ form.requirement_name }}
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="table-responsive col-md-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Student</th>
                        <th scope="col">Requirements</th>
                    </tr>
                </thead>
                <tr>
                {% for student in student_requirement_done %}

                    <td> {{student.student_recordbook }} </td>
                    <td> {{student.requirement_name}} </td>
                    <td><a href="/edit_student_requirements_done/{{student.ukey}}" class="btn btn-success">Edit</a> </td>
                    <td><a href="/remove_student_requirements_done/{{student.ukey}}" class="btn btn-danger">Delete</a> </td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
         </div>
     </div>
</div>


{% endblock %}

